{% extends 'chairman/header.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Member Profile - Chairman</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
                
                
        <link rel="stylesheet" href="{% static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\timeline.css' %}">
                <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'chairman\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\color_skins.css' %}">
            </head>
        <body class="theme-cyan">
            {% block content %}
        <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Member Profile <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i>Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <br>
                    <br>
                    <br>
                    <div class="profile-image"> <img src="{{context.mb_id.profile_pic.url}}" alt=""> </div>
                    <div>
                        <br>
                        <br>
                        <br>
                        <h4 class="m-b-0"><strong>{{context.mb_id.fname}} {{context.mb_id.lname}}</strong></h4>
                        <span class="job_post">Block Number: {{context.mb_id.m_id.homeno}}</span>
                        <span class="job_post">Contact No.:{{context.mb_id.m_id.contact_no}}</span>
                        <span class="job_post">email: {{context.mb_id.user_id.email}}</span>
                        <br>
                        <br>
                        <br>
                    </div>
                   
                </div>                    
            </div>                               
                    
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">Member profile</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Member Update profile</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Name:</strong> {{context.mb_id.fname}} {{context.mb_id.lname}}</p>
                            </li>
                            <li>
                                <p><strong>Block Number: </strong>{{context.mb_id.m_id.homeno}}</p>
                            </li>
                            <li>
                                <p><strong>Contact No:</strong> {{context.mb_id.m_id.contact_no}}</p>
                            </li>
                            <li>
                                <p><strong>Email ID: </strong> {{context.mb_id.user_id.email}}</p>
                            </li>
                            <li>
                                <p><strong>Address:</strong> {{context.mb_id.m_id.address}}</p>
                            </li>
                            <li>
                                <p><strong>Job Profession:</strong> {{context.mb_id.m_id.job_profession}}</p>
                            </li>
                            <li>
                                <p><strong>Job Address:</strong> {{context.mb_id.m_id.job_address}}</p>
                            </li>
                            <li>
                                <p><strong>Vehicle-Type:</strong> {{context.mb_id.m_id.vehicle_type}}</p>
                            </li>
                            <li>
                                <p><strong>Vehicle-Number:</strong> {{context.mb_id.m_id.vehicle_no}}</p>
                            </li>
                            <li>
                                <p><strong>Blood-Group:</strong> {{context.mb_id.m_id.blood_group}}</p>
                            </li>
                            <li>
                                <p><strong>Number of Family-Members:</strong> {{context.mb_id.m_id.family_member_details}}</p>
                            </li>
                        </ul>
                        
                    </div>                    
                    <div class="tab-pane body" id="Account">
                        <form action="{% url 'member-profile-update' pk=context.mb_id.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name='m_fname' value="{{context.mb_id.fname}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name='m_lname' value="{{context.mb_id.lname}}">
                        
                        <div class="form-group">
                            <input type="email" class="form-control" value={{context.mb_id.user_id.email}} name='m_email' readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='m_currentPassword' value={{context.mb_id.user_id.password}}>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name='m_newpassword' placeholder="New Password">
                        </div>
                        
                        <hr>
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-12">
                                <div class="form-group">
                                    <input type="text"placeholder="Home no" name='m_house_no' class="form-control" value="{{context.mb_id.m_id.homeno}}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Address" name='m_address' value='{{context.mb_id.m_id.address}}' >
                                </div>
                            </div> 
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Contact Number" name='m_contect_no' value={{context.mb_id.m_id.contact_no}}>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Family Member Detail" name='m_family_member' value='{{context.mb_id.m_id.family_member_details}}'>
                                </div>
                            </div>                                   
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="job Profession" name='m_job_profession' value={{context.mb_id.m_id.job_profession}}>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Job Address" name='m_job_address' value= {{context.mb_id.m_id.job_address}}>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="vehicle_type" name='m_vehicle_type' value={{context.mb_id.m_id.vehicle_type}}>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="vehicle_no" name='m_vehicle_no' value={{context.mb_id.m_id.vehicle_no}}>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Blood-Group" name='m_blood_group' value={{context.mb_id.m_id.blood_group}}>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group">
                                    <input type="file" class="form-control" placeholder="Profile Picture" name='m_profilePic'>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-round">Save Changes</button>
                            </div>
                        </form>
                        </div>
                      
                    </div>                        
                </div>
            </div>
            
    </div>

            </div>
        </section>
        {% endblock %}
                <!-- Scripts -->
        <script src="{% static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'chairman\assets\bundles\mainscripts.bundle.js' %}"></script>
        <script src="{% static 'chairman\assets\bundles\knob.bundle.js' %}"></script>
        <script src="{% static 'chairman\assets\js\pages\charts\jquery-knob.js' %}"></script>
				
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>