{% extends 'watchman/w_header.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Dashboard - Chairman</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
        {% block csschange %}
        <link rel="stylesheet" href="{%  static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%  static 'chairman\assets\css\blog.css' %}">
<!-- Custom Css -->
<link rel="stylesheet" href="{%  static 'chairman\assets\css\main.css' %}">
<link rel="stylesheet" href="{%  static 'chairman\assets\css\color_skins.css' %}">
            {% endblock %}
    </head>
        <body class="theme-cyan">
            {% block content %}
            <section class="content home">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Dashboard <small class="text-muted">Welcome to Watchman!</small></h2>
                        </div>            
                        
                    </div>
                </div>
                <div class="container-fluid">                
                    <div class="row clearfix">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="body">
                    <h3 class="number count-to m-b-0" data-from="0" data-to="{{context.member_count}}" data-speed="2500" data-fresh-interval="1111">{{context.member_count}}<i class="zmdi zmdi-trending-up float-right"></i></h3>
                    <p class="text-muted">Socity Member</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="body">
                    <h3 class="number count-to m-b-0" data-from="0" data-to="{{context.notice_count}}" data-speed="2500" data-fresh-interval="1111">{{context.notice_count}}<i class="zmdi zmdi-trending-up float-right"></i></h3>
                    <p class="text-muted">Notice</p>
                </div>
            </div>
        </div>  
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="body">
                    <h3 class="number count-to m-b-0" data-from="0" data-to="{{context.event_count}}" data-speed="2500" data-fresh-interval="1000">{{context.event_count}}<i class="zmdi zmdi-trending-up float-right"></i></h3>
                    <p class="text-muted">Events</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">                
            <div class="blog-page">
               <div class="row">
                   <div class="col-lg-12 col-md-12 left-box">
                       {% for i in context.l_event %}
                       <div class="card single_post">  
                           <div class="body">
                               
                               <ul class="meta">
                                   <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: Chairman</a></li>
                                   <li><a href="#"><i class="zmdi zmdi-time col-blue"></i>{{i.whenPublished}}</a></li>
                               </ul>
                               <br>
                               <h6 class="m-t-0 m-b-5">Title : {{i.title}}</h6>
                           </div> 
                           <div>
                               <div class="image"><img src="{{i.event_pic.url}}" alt="User" height="610" width="1220"></div>
                               <br>
                           <p>Description : {{i.description}}</p>
                              <br><br>
                           </div>        
                       </div>
                       {% endfor %}
                   </div>
               </div>
           </div>         
           </div>
           <div class="container-fluid">                
            <div class="blog-page">
              <div class="row">
                  <div class="col-lg-12 col-md-12 left-box">
                      {% for i in context.l_Notice %}
                      <div class="card single_post">
                          <div class="body">
                              
                              <ul class="meta">
                                  <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: Chairman</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-time col-blue"></i>{{i.whenPublished}}</a></li>
                              </ul>
                              <br>
                              <h3 class="m-t-0 m-b-5">Title : {{i.title}}</h3>
                          </div> 
                          <div>
                          <p>Description : {{i.description}}</p>
                              <br>  
                              <br>                  
                          </div>
                          </div>
                       {% endfor %}                       
                                      
                  </div>
                  
              </div>
          </div>
                      </div>
            <div class="col-lg-12 col-md-12">
                <div class="card patient_list">
                    <div class="header">
                        <h2><strong>Socity Member</strong></h2>                        
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>profile Picture</th>
                                        <th>Name</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in context.l_Member %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td><img src="{{i.profile_pic.url}}" alt="Avatar" class="rounded-circle"></td>
                                        <td>{{i}}</td>
                                        <td>{{i.m_id.contact_no}}</td>
                                        <td>{{i.user_id.email}}</td>
                                    </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
</section>
{% endblock %}
                <!-- Scripts -->
                <script src="{%  static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{%  static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>

        <script src="{%  static 'chairman\assets\bundles\mainscripts.bundle.js' %}"></script>
                            <script src="{%  static 'chairman\assets\bundles\morrisscripts.bundle.js' %}"></script>
<script src="{%  static 'chairman\assets\bundles\jvectormap.bundle.js' %}"></script>
<script src="{%  static 'chairman\assets\bundles\knob.bundle.js' %}"></script>
<script src="{%  static 'chairman\assets\js\pages\index.js' %}"></script>
				<!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>